*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    overflow: hidden;
    font-size: 18px;
    margin: 0;
}

.background{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #47d523,#23D5AB,#db4bb0,#FF6200,#fbfd77);
    background-size: 200% 200%;
    position: relative;
    animation: change 5s ease-in-out infinite;
}
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.Name{
    color: white;
    font-size: 30px;
}
.profilePic{
    display:block;
    margin-left:auto;
    margin-right: auto;
    width: 200px;
    border-radius: 50%;
    margin-top:10PX;
    border: white solid 10px;
}
.linkList{
    margin:auto;
    width: 50%;    
}
.linkList a{
    border: 5px white solid;
    display: block;
    margin: 20px;
    padding: 10px 10px;
    text-decoration:none;
    border-radius: 0px 30px 0px 30px ;
    color:white;
    box-shadow: orange 2px;
}
a:hover{
    /* color: orangered; */
    background-color: #23D5AB;
}